html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.main-title {
  font-size: 2.25em;
  text-align: center;
}

.p-main-title {
  font-size: 1.125em;
  text-align: center;
  margin: ;
}

.color-main-title {
  background-color: #29009C;
  color: #fff;
}